<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Archivos</title>
</head>
<body>
  <h1>Archivos en la carpeta "uploads"</h1>
  <ul>
    <% if (files.length > 0) { %>
      <% files.forEach(file => { %>
        <li><%= file %></li>
      <% }); %>
    <% } else { %>
      <li>No hay archivos en la carpeta</li>
    <% } %>
  </ul>
</body>
</html>
