<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Archivo Excel</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Ocultar el textarea y el input de archivo por defecto */
        #jsonDataContainer, #excelFileContainer {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Subir Archivo Excel</h1>
        <form action="/updatelist" method="post" enctype="multipart/form-data" class="bg-light p-4 rounded shadow">
            <div class="mb-3">
                <label for="listType" class="form-label">Seleccione el tipo de lista a actualizar:</label>
                <select id="listType" name="listType" class="form-select">
                    <option value="" disabled selected>Seleccione una opción</option>
                </select>
            </div>

            <!-- Radio buttons para seleccionar el tipo de carga -->
            <div class="mb-3">
                <label class="form-label" for="filetype">Seleccione el tipo de carga:</label><br>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="uploadOption" id="uploadFile" value="file" onclick="toggleFields()" checked onkeydown="handleKeyDown(event)">
                    <label class="form-check-label" for="uploadFile">
                        Subir archivo Excel
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="uploadOption" id="uploadJson" value="json" onclick="toggleFields()" onkeydown="handleKeyDown(event)">
                    <label class="form-check-label" for="uploadJson">
                        Escribir formato JSON
                    </label>
                </div>
            </div>

            <!-- Input para subir archivo Excel -->
            <div id="excelFileContainer" class="mb-3">
                <label for="excelFile" class="form-label">Seleccione un archivo Excel:</label>
                <input type="file" id="excelFile" name="excelFile" accept=".xlsx, .xls" class="form-control">
            </div>

            <!-- Textarea para escribir datos en formato JSON -->
            <div id="jsonDataContainer" class="mb-3">
                <label for="jsonData" class="form-label">Escribir formato JSON:</label>
                <textarea id="jsonData" name="jsonData" class="form-control" rows="5" placeholder='{
  "items": [

  ]
}'></textarea>


            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Subir</button>
            </div>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies (optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../utils/getListApiKizeo.js"></script>
    <!-- Script para manejar la visibilidad de los campos -->
    <script>
        function toggleFields() {
            const uploadOption = document.querySelector('input[name="uploadOption"]:checked').value;

            if (uploadOption === 'file') {
                document.getElementById('excelFileContainer').style.display = 'block';
                document.getElementById('jsonDataContainer').style.display = 'none';
            } else if (uploadOption === 'json') {
                document.getElementById('excelFileContainer').style.display = 'none';
                document.getElementById('jsonDataContainer').style.display = 'block';
            }
        }
        window.onload = toggleFields;
    </script>
</body>
</html>
